# Server Config
PORT=5000

# Database Config
POSTGRES_URI=postgresql://postgres:postgres@localhost:5432/sms_saas

# JWT Authentication Config
JWT_SECRET=your_jwt_secret_key_here

# Africa's Talking SMS API Config
AT_USERNAME=sandbox
AT_API_KEY=your_africastalking_api_key_here

# Email SMTP Config (for OTP Verification)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_gmail_app_password

# Paystack API Keys
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key_here

# Monitoring Configurations
SENTRY_DSN=https://your_sentry_dsn_here

